@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-one: "#FE34B9";
  --primary-two: "#903AFF";
  --secondary-major: "#150E28";
  --secondary-minor: "#D434FE";
}

@font-face {
  font-family: "Clash Display";
  src: url(./assets/fonts/ClashDisplay-Bold.otf);
}
@font-face {
  font-family: "Unica One";
  src: url(./assets/fonts/UnicaOne-Regular.ttf);
}

*::-webkit-scrollbar{
  display: none;
}
body,html{
  scroll-behavior: smooth;
}